// Config -----------------------------------
@syntax-hue:          210;
@syntax-saturation:    0%;
@syntax-brightness:   100%;


// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, 8%, 44%);
@mono-2: hsl(@syntax-hue, 6%, 44%);
@mono-3: hsl(@syntax-hue, 4%, 64%);

// Colors -----------------------------------


@hue-1:   #145294; // <-bright-azure
@hue-2:   #0095B7; // <-green-blue
@hue-3:   #CA3767; // <-raspberry
@hue-4:   #24948a; // <-bright-teal

@hue-5:   @hue-1;
@hue-5-2: #8E4585; // <-plum

@hue-6:   #D68A59; // <-bronze
@hue-6-2: @hue-5-2;

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-bg, 36%);
@syntax-guide:  fade(@syntax-fg, 20%);
@syntax-accent: hsl(@syntax-hue, 100%, 35% );
